<html>
<head>
  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Nitrogen</h1>
   <div class='Jumbotron'>
    <p> The R Value is: <%= R %></p>
    <p> The G value is: <%= G %></p>
    <p> The B Value is: <%= B %></p>
    <p>Result: <%= result %></p>
   </div>
  <%- include('partials/footer'); -%>
    </body>
    </html>